body{
    background-color: rgb(19, 143, 69);
}
p{
    color:rgb(255, 255, 255);margin: 0;
}
h2{
    text-align: center;
}
.altP{
    text-align: center; background-color: rgb(255, 0, 179); color: blueviolet;
}
h1{
    font-size: 22px;font-family: arial;text-align: center;
}

.altC{
    border:1px solid black;
}
.altA{
text-align: right;
}
a{
    text-decoration: none;
}

header{
    background-color: aqua;
    grid-area: header;
}

nav{
    background-color: blue;
    grid-area: nav;
}

nav > ul{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
}

main{
    background-color: brown;
    grid-area: main;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
}

nav li{
    list-style-type: none;
    text-align: center;
    display: grid;
    align-items: stretch;
}